<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/header.ejs') %>
  <main class="flex-column bg-[#fdfdfd] w-11/12 sm:w-[584px] mx-auto my-8 p-6 rounded-md box-shadow">
    <article>
      <% if (post) { %>
      <header class="flex gap-1 items-center">
        <div class="rounded-lg border-2 overflow-hidden w-14 h-14">
          <img src="/<%= post.avatar %>" class="bg-contain w-full h-full" alt="avatar" />
        </div>
        <div>
          <a href="/user/<%= post.user %>" class="text-2xl"><%= post.user %></a>
        </div>
      </header>
      <section class=" my-4 p-4 rounded-md bg-slate-100">
        <p><%= post.content %></p>
      </section>
      <footer>
        <p>Published: <%= post.formattedDate %></p>
      </footer>
      <% } else { %>
      <p class="text-center">Such a post does not exsit.</p>
      <% } %>
    </article>
  </main>
</body>

</html>